$bodyBgColor: #FCFCFC;
$white: #ffffff;
$headLinks: #29292D;
$headNav: #000000;
$redNormal: #FF1818;
$redHover: #FF4218;
$redActive: #fc0606;
$titleColor: #002C6A;
$sliderDescr: #B3C0D2;
$searchColor: #c4c4c4;
$searchBtn: #191919;